#login-container {
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    width: fit-content;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}